* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-size: auto 100vh;
    font-family: 'roboto', sans-serif;
    height: 100vh;
  }
  
  @media (min-widht: 400px) {
    body{
      font-size: 14px;
    }
  }
  
  @media (min-width: 600px) {
    body{
      font-size: 22px;
    }
  }
  
  header{
    background-image: url('https://cdn.pixabay.com/photo/2017/02/15/11/05/texture-2068283_960_720.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .menu{
    background-color: #333333;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .footer a,
  .menu a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
  }
  
  .menu a{
    transition: background-color 1s, color 0.5s;
  }
  
  .menu a:active,
  .menu a:hover {
    background-color: #ffffff;
    color: #333333;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none; 
  }
  
  .site-title,
  .site-subtitle{
    color: #333333;
    text-align: center;
  }
  
  .site-title{
    font-size: 3em;
    font-family: 'roboto', sans-serif;
  }
  
  .site-subtitle{
    font-family: 'roboto', sans-serif;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    font-size: 2em;  
    line-height: 2.4em;
  }
  
  .content{
    background-color: #cdcdcd;
    padding: 2em;
    min-height: 60vh;
  }
  
  @media (min-width: 1200px){
    .container{
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  #sobre .profile img{
    float: right;
    margin-left: .5em;
    border-radius: 1em;
  }
  
  @media (max-width: 400px){
    #sobre .profile,
    #sobre .profile img{
      float: none;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  
  .content h2{
    font-family: 'roboto', sans-serif;
    color: #333333;
    margin-bottom: 1.5em;
    font-size: 2em;
  }
  
  #portfolio h2{
    margin-bottom: 0.25em;
  }
  
  .content  p{
    color: #333333;
    margin-bottom: .5em;
    text-align: justify;
    letter-spacing: -1px;
  }

  .li-experiences{
    margin-bottom: 20px;
  }

  .sobre p:first-of-type{
    text-indent: 1em;
  }
  
  .portfolio figure{
    text-align: center;
  }
  
  .img-portfolio{
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
  }
  
  .img-portfolio:hover{
    transform: scale(1.2) rotate(-2deg);
  }
  
  .footer{
    background: #706c61;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer a{
    color: #e1f4f3;
    width: 60px;
    height: 60px;
    transition: text-shadow 0.5s;
  }
  
  .footer a:active,
  .footer a:hover{
    text-shadow: 0px 0px 12px black;
  }